@media (min-width: 768px) {
  .grid-col-md-1 {
    grid-column: : span 1;
  }

  .grid-row-md-1 {
    grid-row: span 1;
  }

  .grid-col-md-2 {
    grid-column: : span 2;
  }

  .grid-row-md-2 {
    grid-row: span 2;
  }

  .grid-col-md-3 {
    grid-column: : span 3;
  }

  .grid-row-md-3 {
    grid-row: span 3;
  }

  .grid-col-md-4 {
    grid-column: span 4;
  }

  .grid-row-md-4 {
    grid-row: span 4;
  }

  .grid-col-md-5 {
    grid-column: span 5;
  }

  .grid-row-md-5 {
    grid-row: span 5;
  }

  .grid-col-md-6 {
    grid-column: span 6;
  }

  .grid-row-md-6 {
    grid-row: span 6;
  }

  .grid-col-md-7 {
    grid-column: span 7;
  }

  .grid-row-md-7 {
    grid-row: span 7;
  }

  .grid-col-md-8 {
    grid-column: span 8;
  }

  .grid-row-md-8 {
    grid-row: span 8;
  }

  .grid-col-md-9 {
    grid-column: span 9;
  }

  .grid-row-md-9 {
    grid-row: span 9;
  }

  .grid-col-md-10 {
    grid-column: span 10;
  }

  .grid-row-md-10 {
    grid-row: span 10;
  }

  .grid-col-md-11 {
    grid-column: span 11;
  }

  .grid-row-md-11 {
    grid-row: span 11;
  }

  .grid-col-md-12 {
    grid-column: span 12;
  }

  .grid-row-md-12 {
    grid-row: span 12;
  }
}
