@media (min-width: 576px){
  .grid-col-sm-1 {
    grid-column: : span 1;
  }

  .grid-row-sm-1 {
    grid-row: span 1;
  }
  .grid-col-sm-2 {
    grid-column: : span 2;
  }

  .grid-row-sm-2 {
    grid-row: span 2;
  }

  .grid-col-sm-3 {
    grid-column: : span 3;
  }

  .grid-row-sm-3 {
    grid-row: span 3;
  }

  .grid-col-sm-4 {
    grid-column: span 4;
  }

  .grid-row-sm-4 {
    grid-row: span 4;
  }

  .grid-col-sm-5 {
    grid-column: span 5;
  }

  .grid-row-sm-5 {
    grid-row: span 5;
  }

  .grid-col-sm-6 {
    grid-column: span 6;
  }

  .grid-row-sm-6 {
    grid-row: span 6;
  }

  .grid-col-sm-7 {
    grid-column: span 7;
  }

  .grid-row-sm-7 {
    grid-row: span 7;
  }

  .grid-col-sm-8 {
    grid-column: span 8;
  }

  .grid-row-sm-8 {
    grid-row: span 8;
  }

  .grid-col-sm-9 {
    grid-column: span 9;
  }

  .grid-row-sm-9 {
    grid-row: span 9;
  }

  .grid-col-sm-10 {
    grid-column: span 10;
  }

  .grid-row-sm-10 {
    grid-row: span 10;
  }

  .grid-col-sm-11 {
    grid-column: span 11;
  }

  .grid-row-sm-11 {
    grid-row: span 11;
  }

  .grid-col-sm-12 {
    grid-column: span 12;
  }

  .grid-row-sm-12 {
    grid-row: span 12;
  }
}